
.panel {list-style:  none;padding: 0;margin: 0;min-height: 365px}
.panel ul{list-style: none;padding: 4px;}
.panel ul li{margin-bottom: 5px;}
.panel a.btn, .panel a.btn:visited{display: block;}
.panel button.btn{*width: 95%}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {


    .panel{margin-left: auto;margin-right: auto;text-align: center}
    .panel ul{position: relative;overflow: hidden;clear: both; }

    .panel ul li {        
        margin: 5px;
        padding: 1px;
        display: block;
        overflow: hidden;        
    }

    .panel ul li{display: inline-table;}
    .panel .btn{ height: 80px;width: 100px;line-height: 14px}
    .panel a.btn{ text-align: center}
    .panel button.btn{ text-align: center}

}

@media only screen and (min-width: 768px) {   
  
}

@media only screen and (min-width: 1140px) {

  
}


@media print {
   
}