.body{font: 16px/26px Helvetica, Helvetica Neue, Arial;
      background: none repeat-x scroll 0 0 #1C8046;
      /**font-size: 1em;*/
      line-height: 1.1;}
.wrapper{ width: 96%;
          margin: 0 2%;
          border-left: transparent dotted 1px;
          border-right: dotted transparent 1px;
          clear: both;}
.header{display: block; 
        border-top: 1px transparent dotted;
        border-bottom: 1px transparent dotted ;
        overflow: hidden;
}
.header h1.logo{color: #FFFFFF;
                text-align: center;
                text-indent: 5000px;
                background: transparent url(../images/logo.gif) 0 0 no-repeat;
                margin: 0;
                padding: 0;                
                width:275px;
                height:60px;                
                cursor: pointer;float: left}
.header div.user{
    background: url("../images/admin_05.gif") repeat-x scroll 0 0 transparent;
    float: right;
    overflow: hidden;
    font-size: 12px;
    height: 60px;
    text-align: left;
    width: 275px;                 
    border-radius: 0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;    
}

.header .user  div.foto{float: left;margin: 4px}
.header .user  div.info{font-weight: bold;padding: 2px;font-size: 12px;line-height: 14px}

.placeholder{position: relative;
             display: block;
             min-height: 500px;
             border: dotted transparent 1px;         
             background:#fff url(../images/admin_30.gif) 0 0 repeat-x;
             /*             *background-size: auto 100%;*/
             border-radius: 10px 10px 0 0;
             clear: both;      
             /**overflow: hidden;*/
             padding: 10px;                             
}
.placeholder iframe{
    border: none;
    width: 480px;
    height: 500px;
}

.section div{
    position: relative
}
.footer{display: block;
        border-top: 1px transparent dotted;
        height: 26px;
        clear: both;
        font-size: 0.7em;
        background:#0c532a;
        text-align: center;
        color: white;
        padding-top: 4px;
        border-radius: 0px 0px 10px 10px;}

nav{clear: both}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;}
nav a {display: block;
       margin-bottom: 10px;
       padding: 15px 0;
       text-align: center;
       text-decoration: none;
       font-weight: bold;
       color: white;
       background: #0c532a;
}
nav a:hover,
nav a:visited {color: white;}
nav a:hover {text-decoration: underline;}

@media only screen and (min-width: 480px) {
    nav a {float: left;
           width: 27%;
           margin: 0 1%;
           padding: 10px 2%;
           margin-bottom: 0;}
    nav li:first-child a {margin-left: 0;}
    nav li:last-child a {margin-right: 0;}
    nav ul li {display: inline;}
    .oldie nav a { margin: 0 0.7%;}  
    .placeholder iframe{
        border: none;
        width: 768px;
        height: 500px;
    }
}

#rpt_print{display: none}

@media only screen and (min-width: 768px) {
    nav {clear: none}
    .header h1.logo{margin:0 10px 10px 0;}
    .logo,
    .main aside {-webkit-box-shadow: 0 5px 10px #FBBB00;
                 -moz-box-shadow: 0 5px 10px #FBBB00;
                 box-shadow: 0 5px 10px #FBBB00;
    } 
    .placeholder iframe{
        border: none;
        width: 970px;
        height: 500px;
    }    
}

@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1026px; /* 1140px - 10% para margenes*/
        margin: 0 auto;
    }    
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
        font-size: 10px;
        line-height: 12px;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    header.header{display: none}   
    footer.footer{display: none}
    .footer-container,.header-container,.main aside{display: none}
    .salto_pagina{page-break-inside:  avoid;}
    #rpt_preview{display: none}
    #rpt_print{display: block}
    .titulo{display: none}
    .titulo span{display: none}
}